
*.xcbkptlist

*.xcuserstate

Chart.xcodeproj/project.xcworkspace/contents.xcworkspacedata

Chart.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist

Covid19Monitor.xcodeproj/xcuserdata/luntumavukuza.xcuserdatad/xcschemes/xcschememanagement.plist
